* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
}

img {
    height: 3vh;
}

img:hover {
    cursor: pointer;
}

header {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(150, 150, 150);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7vh;
    z-index: 10;
}

header p {
    font-size: 2.2vh;
    margin-left: 1vh;
    rotate: 90deg;
}

header div {
    padding-left: 1vw;
    padding-right: 1vw;
    border-color: white;
    border-style: solid;
    display: flex;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0.1vw;
}

header p:hover {
    cursor: pointer;
}

header div:last-child {
    border-right-width: 0px;
}

#save_canvas {
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

#import_to_canvas {
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

header h3 {
    color: white;
    font-size: 2vh;
}

main {
    width: 100vw;
    height: 100vh;
}

#viewport {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding-top: 7vh;
    box-sizing: border-box;
}

#layers {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#canvas {
    background-color: white;
    position: absolute;
    transform-origin: 0 0;
    transform: translate(50px, 75px) scale(1);
    background-size: 20vh;
}

.layer {
    position: absolute;
    transform-origin: 0 0;
}

#area_selector_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#area_selector_settings h2 {
    font-size: 2vh;
}

#teardrop_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#teardrop_settings select {
    font-size: 2vh;
    width: 15vh;
}

#pencil_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#pencil_settings input {
    width: 15vh;
    height: 2vh;
}

#pencil_settings span {
    font-size: 2vh;
}

#pencil_settings select {
    font-size: 2vh;
}

#color_picker_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#paint_sidebar {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    width: 20vh;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 10000001;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

#active_color {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    border: 0.2vh solid #000000;
    background-color: black;
}

#paint_sidebar .hover:hover {
    cursor: pointer;
}

#paint_sidebar .row {
    display: flex;
    gap: 1vh;
}

#saved_color_1 {
    height: 5vh;
    width: 5vh;
    background-image: none;
    border-radius: 50%;
    border: 0.2vh solid #000000;
    background-color: #ffffff;
}

#saved_color_2 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_3 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_4 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_5 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_6 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_7 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_8 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_9 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#saved_color_10 {
    height: 5vh;
    width: 5vh;
    background-image: url(Pictures/Previw_Canvas_Background.png);
    border-radius: 50%;
    border: 0.2vh solid #000000;
}

#layers_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#layers_settings input {
    width: 15vh;
    height: 2vh;
}

#layers_settings span {
    font-size: 2vh;
}

#bucket_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#bucket_settings h2 {
    font-size: 2vh;
}

#bucket_settings input {
    width: 15vh;
    height: 2vh;
}

#bucket_settings span {
    padding-bottom: 1vh;
}

#eraser_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#eraser_settings input {
    width: 15vh;
    height: 2vh;
}

#eraser_settings span {
    font-size: 2vh;
}

#eraser_settings select {
    font-size: 2vh;
    width: 15vh;
}

#forms_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
}

#canvas_rezising_settings {
    background-color: #252525;
    position: absolute;
    color: white;
    font-size: 2vh;
    padding: 2vh;
    justify-self: center;
    width: 20vh;
    z-index: 9999998;
    display: flex;
    flex-direction: column;
}

#scale_user_defined {
    height: 2vh;
    font-size: 2vh;
}

#scale_canvas_button {
    height: 4vh;
    font-size: 2vh;
}

#descale_canvas_button {
    height: 4vh;
    font-size: 2vh;
}

#canvas_rezising_settings select {
    font-size: 2vh;
}

menu h2 {
    font-size: 2.5vh;
}

#forms_settings img {
    padding: 0.3vh;
}

#forms_settings select {
    font-size: 2vh;
    width: 15vh;
}

#layers_pop-up {
    width: 21vh;
    background-color: #252525;
    position: absolute;
    top: 7vh;
    right: 0;
    bottom: 0;
    color: white;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
    z-index: 9999999;

    display: grid;
    grid-template-rows: auto auto 1fr auto;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    scrollbar-color: black #373737;
}

#add_layer {
    justify-self: center;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    padding-left: 0.6vh;
    padding-right: 0.6vh;
    background: none;
    border: 0.2vh solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vh;
}

#add_layer:hover {
    cursor: pointer;
    background-color: #373737;
}

.layer_box {
    justify-self: center;
    width: 17vh;
    height: 17vh;
    margin-bottom: 2vh;
    background-color: #373737;
    border-radius: 0.5vh;
    border-color: #408c99;
    border-style: solid;
    border-width: 0.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.layer_box.hidden::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    pointer-events: none;
}

.layer_box img {
    position: absolute;
    top: 2vh;
    right: 2vh;
}

.layer_box canvas {
    background-image: url("Pictures/Previw_Canvas_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vh;
    height: 15vh;
}

.layer_box img.push_canvas_up {
    height: 1vh;
    top: 6vh;
    right: 2.8vh;
}

.layer_box img.push_canvas_down {
    height: 1vh;
    top: 8vh;
    right: 2.8vh;
}

.layer_box:first-child img.push_canvas_up {
    display: none;
}

.layer_box:last-child img.push_canvas_down {
    display: none;
}

.layer_box img.delete_layer {
    left: 2.8vh;
}

.layer_box img.hide_delete_layer {
    display: none;
}

#background_color_canvas {
    background-color: white;
    background-image: none;
    width: 14vh;
    height: 14vh;
    border-radius: 0.5vh;
}

#background_color_canvas:hover {
    cursor: pointer;
}

#paint_pop-up {
    width: 100vh;
    height: 75vh;
    background-color: #252525;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding-left: 2vw;
    padding-top: 1vh;
    margin-top: 2vh;
    z-index: 9999999;
}

menu h1 {
    font-size: 3.2vh;
}

div.color_selection_area {
    display: flex;
}

#color_selection_wrapper {
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 40vh;
    margin-right: 1vh;
}

#color_selection_box {
    height: 40vh;
    width: 40vh;
    background-color: white;
    border-radius: 1vh;
    
    display: block;
    cursor: crosshair;
}

#color_selection_dot {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    border: 0.15vh solid white;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    transform: translate(-50%, -50%);

    /* Nice dark outline so it stays visible on light colors */
    box-shadow: 0 0 0 0.05vh black;
}

#showing_color {
    background-color: white;
    height: 40vh;
    width: 5vh;
    border-radius: 0.5vh;
    margin-right: 3vh;
}

#gradient_slider {
    appearance: none;

    width: 1.5vh;
    height: 40vh;

    background: linear-gradient(white, black);
    writing-mode: vertical-lr;
    direction: rtl;
    border-radius: 2vh;
    margin-right: 2vh;
}


/* Opera / Chrome / Edge */
#gradient_slider::-webkit-slider-thumb {
    appearance: none;

    width: 1.8vh;
    height: 1.8vh;

    background: white;
    border: 0.3vh solid #373737;
    border-radius: 50%;

    cursor: pointer;
}


/* Firefox */
#gradient_slider::-moz-range-thumb {
    width: 1.8vh;
    height: 1.8vh;

    background: white;
    border: 0.3vh solid black;
    border-radius: 50%;

    cursor: pointer;
}

div.rgb_specefication_area {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1.5vh;
}

div.rgb_specefication_area input {
    background-color: #373737;
    width: 15vh;
    height: 3vh;
    border-radius: 0.5vh;
    border-width: 0.1vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #999999;
    padding-left: 1vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    color: white;
    font-size: 1.5vh;
}

#color_type_picker {
    background-color: #373737;
    width: 16vh;
    height: 3vh;
    border-radius: 0.5vh;
    border-width: 0;
    padding-left: 1vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    color: white;
    font-size: 1.5vh;
}

#rød_specifier {
    display: flex;
    align-items: center;
    gap: 1vh;
    font-size: 2vh;
}

#grøn_specifier {
    display: flex;
    align-items: center;
    gap: 1vh;
    font-size: 2vh;
}

#blå_specifier {
    display: flex;
    align-items: center;
    gap: 1vh;
    font-size: 2vh;
}

menu.closed {
    visibility: hidden;
}